body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #6912bb 0%, #1098f3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-image: linear-gradient(to top left, #91c5cc 0%, #126297 100%);
  color: white;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 4em; /* 4 times the default size */
  cursor: pointer;
  color: black; /* Text color inside the button */
  padding: 20px 120px;
}


.container {
  text-align: center; /* Aliniaza continutul pe centru */
  position: relative; /* Face containerul un element de referință pentru poziționarea absolută */
  border: 2px solid black; /* Adding border for visualization */
  display: block
}
.image-above {
  display: block;
  position: absolute; /* Poziționează imaginea absolut în interiorul containerului */
  top: 150; /* Plasează imaginea la partea de sus a containerului */
  left: 50%; /* Mută imaginea pe orizontală la jumătatea containerului */
  transform: translateX(-50%); /* Centrează imaginea pe orizontală */
}
.dice-button {
  background-image: linear-gradient(to top left, #91c5cc 0%, #126297 100%);
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1em; /* 4 times the default size */
  cursor: pointer;
  color: black; /* Text color inside the button */
  padding: 20px 120px; 
  width: 400px;
  height: 100px;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word /* Break words if they overflow */
}
.dice-button1 {
  top: 40px;
  left: 300px;
  position: absolute
 
}
.dice-button2 {
  top: 40px;
  right: 300px;
  position: absolute
}
.dice-button3 {
  bottom: 40px;
  left: 300px;
  position: absolute
 
}
.dice-button4 {
  bottom: 40px;
  right: 300px;
  position: absolute
 
}
.display{
  visibility: hidden
}
.display1{
  display: none
}

.displayGameInfo{
  width: 1300px; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  position: absolute;
  pointer-events: none;
  color: rgb(48, 10, 10);
  font-size: 42px;
  font-family: 'Didot', serif;
}
