body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #6912bb 0%, #1098f3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-image: linear-gradient(to top left, #91c5cc 0%, #126297 100%);
  color: white;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 4em; /* 4 times the default size */
  cursor: pointer;
  color: black; /* Text color inside the button */
  padding: 20px 120px;
}


.container {
  text-align: center; /* Aliniaza continutul pe centru */
  position: relative; /* Face containerul un element de referință pentru poziționarea absolută */
  border: 2px solid black; /* Adding border for visualization */
  display: block
}
.image-above {
  display: block;
  position: absolute; /* Poziționează imaginea absolut în interiorul containerului */
  top: 150; /* Plasează imaginea la partea de sus a containerului */
  left: 50%; /* Mută imaginea pe orizontală la jumătatea containerului */
  transform: translateX(-50%); /* Centrează imaginea pe orizontală */
}
.dice-button {
  background-image: linear-gradient(to top left, #91c5cc 0%, #126297 100%);
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1em; /* 4 times the default size */
  cursor: pointer;
  color: black; /* Text color inside the button */
  padding: 20px 120px; 
  width: 400px;
  height: 100px;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word /* Break words if they overflow */
}
.dice-button1 {
  top: 40px;
  left: 300px;
  position: absolute
 
}
.dice-button2 {
  top: 40px;
  right: 300px;
  position: absolute
}
.dice-button3 {
  bottom: 40px;
  left: 300px;
  position: absolute
 
}
.dice-button4 {
  bottom: 40px;
  right: 300px;
  position: absolute
 
}
.masculine-button {
  position:absolute;
  bottom: 250px;
  left: 300px;
  width: 500px;
  height: 100px;
  text-align: center;
  padding-top: 12px;
  background-image: linear-gradient(to top left, #1fa758 0%, #26e70c 100%);
}
.feminine-button {
  position:absolute;
  bottom: 250px;
  right: 300px;
  width: 500px;
  height: 100px;
  text-align: center;
  padding-top: 12px;
  background-image: linear-gradient(to top left, #7c2170 0%, #a826f3 100%);
}
.display{
  visibility: hidden
}
.display1{
  display: none
}

.displayGameInfo{
  width: 1300px; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  position: absolute;
  pointer-events: none;
  color: rgb(48, 10, 10);
  font-size: 42px;
  font-family: 'Didot', serif;
}
.displaySubstantive{
  width: 450px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  position: absolute;
  pointer-events: none;
  color: rgb(48, 10, 10);
  font-size: 42px;
  font-family: 'Didot', serif;
  top: 30px;
  font-size: 90px;
  font-family: 'Didot', serif;
  text-align: center;
}
.displayScore1{
  position: absolute;
  width: 300px; /* Adjust width as needed */
  height: 75px; /* Adjust height as needed */
  pointer-events: none;
  bottom: 100px;
  right: 30px;
  color: rgb(48, 10, 10);
  font-size: 45px;

}

.labelPlayer{
  font-size: 45px;
}

.leaderboardTitle{
  position: absolute;
  font-size: 70px;
  top: 15px;
  left:350px;
}
.playerName{
  height: 45px; 
  font-size: 30px;
}
.buttonSubmit{
  position: absolute;
  bottom: 270px;
  left: 720px;
}
.skipButton{
  position: absolute;
  bottom:100px;
  left:100px;
  height:100px;
  font-size:40px;
  text-align: center;
}
.scoreTitle{
  position: absolute;
  top: 50px;
  left: 50%;
  font-size: 150px;
  transform: translateX(-50%);
}

.checkBoxes{
  transform: scale(1.5)
}

.selectTensesTitle{
  position: absolute;
  top: -250px;
  left: 130px;
  font-weight: bold;
  font-size:50px;
 

}
.selectTensesDescription{
  position: absolute;
  font-size:30px;
  top: -130px;
  left: 220px;
}
.startGame2Button{
  position: absolute;
  transform: scale(0.5);
  left:240px;
  top:60px;
}
.displayVerb{
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%, -50%);
  font-size:200px;
}
.displayTense{
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  font-size:150px;
}