body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #f39264 0%,
    #f2606f 100%
  );
  color: #fff;
  font-family: "Open Sans", sans-serif;

  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #6912bb 0%, #1098f3 100%);
  align-items: center;
  justify-content: center;
}

.image-above {
  display: block;
  position: absolute;
  top: 16vh;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  .image-above {
    width: 50%;
    max-width: 300px;
  }
}
.button {
  top: 45vh;
  height: 10vh;
  width: 31%;
  font-size: 6vh;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 1vh;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateX(-50%) translateY(-0.3vh);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateX(-50%) translateY(0.3vh);
}
@media (max-width: 576px) {
  .button {
    top: 45vh;
    height: 10vh;
    width: 80%;
    font-size: 5vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .button {
    top: 45vh;
    height: 10vh;
    width: 75%;
    font-size: 6vh;
  }
}

.button-leaderboard {
  top: 58vh;
  height: 10vh;
  width: 31%;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 6vh;

  position: absolute;
  top: 58vh;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 1vh;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button-leaderboard:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-leaderboard:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateX(-50%) translateY(-0.3vh);
}

.button-leaderboard:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateX(-50%) translateY(0.3vh);
}

@media (max-width: 576px) {
  .button-leaderboard {
    top: 58vh;
    height: 10vh;
    width: 80%;
    font-size: 5vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .button-leaderboard {
    top: 58vh;
    height: 10vh;
    width: 75%;
    font-size: 6vh;
  }
}

.dice-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 11vh;
  width: 26vw;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.dice-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.dice-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.dice-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 769px) and (max-width: 992px) {
  .dice-button {
    width: 33vw;
  }
}

.dice-button1 {
  top: 6%;
  left: 15%;
  position: absolute;
  font-size: 3vh;
}

@media (max-width: 576px) {
  .dice-button1 {
    font-size: 0.8vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dice-button1 {
    font-size: 1.7vh;
  }
}
.dice-button2 {
  top: 6%;
  right: 15%;
  position: absolute;
  font-size: 2vh;
}

@media (max-width: 576px) {
  .dice-button2 {
    font-size: 0.6vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dice-button2 {
    font-size: 1.2vh;
  }
}

.dice-button3 {
  bottom: 6%;
  left: 15%;
  position: absolute;
  font-size: 3vh;
}

@media (max-width: 576px) {
  .dice-button3 {
    font-size: 0.8vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dice-button3 {
    font-size: 1.6vh;
  }
}

.dice-button4 {
  bottom: 6%;
  right: 15%;
  position: absolute;
  font-size: 2.4vh;
}

@media (max-width: 576px) {
  .dice-button4 {
    font-size: 0.7vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .dice-button4 {
    font-size: 1.5vh;
  }
}

.displayGameInfo {
  width: 70%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: rgb(48, 10, 10);
  font-size: 4.5vh;
  font-family: "Didot", serif;
}

.backButton {
  left: 2%;
  bottom: 5%;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9vw;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 3vh;
  min-width: 10%;
  outline: none;
  overflow: hidden;
  padding: 0.5vw 1vw;
  position: absolute;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 2%;
}

.backButton:hover,
.backButton:focus {
  opacity: 0.75;
}

@media (max-width: 576px) {
  .backButton {
    font-size: 1vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .backButton {
    font-size: 1.4vh;
  }
}

.btnGender {
  line-height: 8vh;
  vertical-align: middle;
  text-align: center;

  cursor: pointer;

  font-size: 2.2vw;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  color: rgb(14, 11, 11);
  bottom: 12vw;
  width: 27%;
  height: 5vw;
}

@media (max-width: 576px) {
  .btnGender {
    line-height: 4vh;
    bottom: 61vw;
    width: 32%;
    height: 9vw;
    font-size: 2.6vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btnGender {
    line-height: 4vh;
    bottom: 36vw;
    width: 32%;
    height: 7vw;
    font-size: 2.6vw;
  }
}

.btn-msc {
  background-color: #01aa48;
  transition: all 0.3s;
  position: relative;
  position: absolute;

  left: 15%;

  text-align: center;
  padding-top: 1vw;
}
.btn-msc span {
  transition: all 0.3s;
}
.btn-msc::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 0.1vw;
  border-bottom-width: 0.1vw;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-msc:hover span {
  letter-spacing: 0.1vw;
}
.btn-msc:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-msc::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-msc:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn-fmn {
  background-color: #831583;
  transition: all 0.3s;
  position: relative;
  position: absolute;
  right: 15%;

  text-align: center;
  padding-top: 1vw;
}
.btn-fmn span {
  transition: all 0.3s;
}
.btn-fmn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 0.1vw;
  border-bottom-width: 0.1vw;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-fmn:hover span {
  letter-spacing: 0.1vw;
}
.btn-fmn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-fmn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-fmn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.displaySubstantive {
  top: 8%;
  width: 100%;
  max-width: 90%;
  height: auto;
  font-size: 5vw;

  left: 50%;
  transform: translateX(-50%);

  position: absolute;
  pointer-events: none;
  color: rgb(48, 10, 10);
  font-family: "Didot", serif;
  text-align: center;
}

@media (max-width: 576px) {
  .displaySubstantive {
    top: 17%;
    width: 100%;
    max-width: 80%;
    height: auto;
    font-size: 16vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .displaySubstantive {
    top: 8%;
    width: 100%;
    max-width: 80%;
    height: auto;
    font-size: 11vw;
  }
}

.displayScore1 {
  position: absolute;
  width: 4vw;
  height: 7.5vh;
  pointer-events: none;
  bottom: 4vh;
  right: 17%;
  color: rgb(48, 10, 10);
  font-size: 4.5vh;
}

@media (max-width: 576px) {
  .displayScore1 {
    width: 30vw;
    height: 9.5vh;
    bottom: 9vh;
    right: 16%;
    font-size: 3vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .displayScore1 {
    width: 30vw;
    height: 9.5vh;
    bottom: 9vh;
    right: 13%;
    font-size: 4.5vh;
  }
}

.timer {
  position: absolute;
  width: 6vw;
  height: 7.5vh;
  bottom: 4vh;
  left: 7%;
  color: rgb(48, 10, 10);
  font-size: 4.5vh;
}

@media (max-width: 576px) {
  .timer {
    bottom: 11.5vh;
    font-size: 4vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .timer {
    bottom: 11.5vh;
    font-size: 5vh;
  }
}
.earlySubmit {
  position: absolute;
  width: 12vw;
  height: 4vh;
  top: 3vh;
  left: 2vw;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 0.5vw;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 0.5vw inset,
    rgba(50, 50, 93, 0.1) 0 0.5vh 1.5vh 0, rgba(0, 0, 0, 0.07) 0 0.5vh 0.5vh 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 0.8vw;
  height: 7vh;
  line-height: 1.15;
  margin: 1.5vh 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 3vw;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.earlySubmit:disabled {
  cursor: default;
}

.earlySubmit:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 0.5vw inset,
    rgba(50, 50, 93, 0.2) 0 0.5vh 1.5vh 0, rgba(0, 0, 0, 0.1) 0 0.2vh 0.2vh 0,
    rgba(50, 151, 211, 0.3) 0 0 0 1vw;
}

@media (min-width: 769px) and (max-width: 992px) {
  .earlySubmit {
    width: 16vw;
    height: 3vh;
    top: 2vh;
    left: 5vw;
    border-radius: 0.5vw;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 0.5vw inset,
      rgba(50, 50, 93, 0.1) 0 0.5vh 1.5vh 0, rgba(0, 0, 0, 0.07) 0 0.5vh 0.5vh 0;
    font-size: 3vw;
    height: 7vh;
    margin: 1.5vh 0 0;
    padding: 0 3vw;
  }
}

@media (max-width: 576px) {
  .earlySubmit {
    width: 20vw;
    height: 4vh;
    top: 3vh;
    left: 7vw;
    border-radius: 0.5vw;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 0.5vw inset,
      rgba(50, 50, 93, 0.1) 0 0.5vh 1.5vh 0, rgba(0, 0, 0, 0.07) 0 0.5vh 0.5vh 0;
    font-size: 4vw;
    height: 7vh;
    margin: 1.5vh 0 0;
    padding: 0 3vw;
  }
}

.leaderboardTitle {
  position: absolute;
  font-size: 8vh;
  top: 5%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

@media (min-width: 769px) and (max-width: 992px) {
  .leaderboardTitle {
    position: absolute;
    font-size: 4vh;
    top: 6vh;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 576px) {
  .leaderboardTitle {
    position: absolute;
    font-size: 2.4vh;
    top: 5%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
}

.scoreTitle {
  position: absolute;
  top: 50px;
  left: 50%;
  font-size: 16vh;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  .scoreTitle {
    position: absolute;

    font-size: 10vh;
    transform: translateX(-50%);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .scoreTitle {
    position: absolute;

    font-size: 12vh;
    transform: translateX(-50%);
  }
}

li.leaderboardSubmition {
  position: absolute;
  top: 47vh;
  left: 20%;
  font-size: 5vh;

  width: 120vh;
}

@media (max-width: 576px) {
  li.leaderboardSubmition {
    position: absolute;
    top: 47vh;
    left: 7%;
    font-size: 2.3vh;

    width: 40vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  li.leaderboardSubmition {
    position: absolute;
    font-size: 4vh;
    left: 4%;
    width: 70vh;
  }
}

.playerName {
  font-size: 4vh;
  width: 50%;
  height: 5vh;
}

.buttonSubmit {
  position: absolute;
  bottom: 26vh;
  left: 44vh;
  font-size: 45px;
  letter-spacing: 2px;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .buttonSubmit {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 576px) {
  .buttonSubmit {
    left: 4vh;
    bottom: 33vh;
    transform: scale(0.7);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .buttonSubmit {
    left: 14vh;
  }
}

.skipButton {
  position: absolute;
  bottom: 9vh;
  left: 10vh;
  height: 80px;
  width: 200px;
  font-size: 5vh;
  text-align: center;
}
.skipButton {
  position: absolute;

  font-family: "Open Sans", sans-serif;
  font-size: px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .skipButton {
    padding: 0.25em 0.75em;
  }
}

li {
  list-style-type: none;
}

@media (max-width: 576px) {
  .skipButton {
    left: 1vh;
    bottom: 10vh;
    transform: scale(0.5);
  }
}

@media (min-width: 2559px) {
  .skipButton {
    left: 15vh;
    bottom: 10vh;
    transform: scale(1);
    font-size: 3vh;
  }
}

.optionButtons {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 7vh;
  font-weight: 800;
  justify-content: center;
  line-height: 8vh;
  margin: 0;
  min-height: 8vh;
  outline: none;
  overflow: visible;
  padding: 2.3vh 3.2vh;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .optionButtons {
    padding: 2.4vh 4vh;
  }
}

.optionButtons:before,
.optionButtons:after {
  border-radius: 10vh;
}

.optionButtons:before {
  background-image: linear-gradient(92.83deg, #227fe9 0, #0f41c9 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.optionButtons:after {
  background-color: initial;
  background-image: linear-gradient(#1b27d8 0, #216b6b 100%);
  bottom: 0.5vh;
  content: "";
  display: block;
  left: 0.5vh;
  overflow: hidden;
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
  transition: all 100ms ease-out;
  z-index: -1;
}

.optionButtons:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #227fe9 0%, #0f41c9 100%);
}

.optionButtons:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.optionButtons:active:not(:disabled) {
  color: #ccc;
}

.optionButtons:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #227fe9 0, #0f41c9 100%);
}

.optionButtons:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 0.5vh;
  left: 0.5vh;
  right: 0.5vh;
  top: 0.5vh;
}

.optionButtons:disabled {
  cursor: default;
  opacity: 0.24;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 27vh;
  gap: -40vh;
}

@media (min-width: 768px) {
  .optionButtons {
    padding: 19px 32px;
  }
}

.optionButtons {
  transform: scale(0.6);
  height: 18.75vh;
  font-size: 6vh;
}

.option1Button {
  width: 30%;
}

.option2Button {
  width: 30%;
}

.option3Button {
  width: 30%;
}

@media (max-width: 576px) {
  .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 27vh;

    padding: 0px;
  }

  .optionButtons {
    margin-right: auto;

    height: 7.75vh;
    width: 17vh;
    font-size: 2vh;
    transform: scale(0.6);
    padding: 5px 10px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 8vh;
  }

  .optionButtons {
    font-size: 5vh;
    transform: scale(0.6);
    height: 9.75vh;
    flex: 1;
  }

  .option1Button,
  .option2Button,
  .option3Button {
    width: 33.33%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .option1Button {
    position: absolute;
    transform: scale(0.4);
    width: 45vh;
    height: 16.25vh;
    left: -7%;
    bottom: 24vh;
  }
  .option2Button {
    position: absolute;
    transform: scale(0.4);
    width: 45vh;
    height: 16.25vh;
    left: 20.5%;
    bottom: 24vh;
  }
  .option3Button {
    position: absolute;
    transform: scale(0.4);
    width: 45vh;
    height: 16.25vh;
    left: 49%;
    bottom: 24vh;
  }
}

.displayWord {
  position: absolute;
  left: 50%;
  top: 1vh;
  transform: translate(-50%, -50%);
  font-size: 18vh;
}

@media (max-width: 576px) {
  .displayWord {
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translate(-50%, -50%);
    font-size: 8vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .displayWord {
    position: absolute;
    left: 50%;
    top: 11vh;
    transform: translate(-50%, -50%);
    font-size: 9vh;
  }
}

.optionButtons1 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 7vh;
  font-weight: 800;
  justify-content: center;
  line-height: 8vh;
  margin: 0;
  min-height: 8vh;
  outline: none;
  overflow: visible;
  padding: 2.3vh 3.2vh;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .optionButtons {
    padding: 2.4vh 4vh;
  }
}

.optionButtons:before,
.optionButtons:after {
  border-radius: 10vh;
}

.optionButtons1 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 7vh;
  font-weight: 800;
  justify-content: center;
  line-height: 8vh;
  margin: 0;
  min-height: 8vh;
  outline: none;
  overflow: visible;
  padding: 2.3vh 3.2vh;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .optionButtons1 {
    padding: 2.4vh 4vh;
  }
}

.optionButtons1:before,
.optionButtons1:after {
  border-radius: 10vh;
}

.optionButtons1:before {
  background-image: linear-gradient(92.83deg, #227fe9 0, #0f41c9 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.optionButtons1:after {
  background-color: initial;
  background-image: linear-gradient(#1b27d8 0, #216b6b 100%);
  bottom: 0.5vh;
  content: "";
  display: block;
  left: 0.5vh;
  overflow: hidden;
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
  transition: all 100ms ease-out;
  z-index: -1;
}

.optionButtons1:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #227fe9 0%, #0f41c9 100%);
}

.optionButtons1:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.optionButtons1:active:not(:disabled) {
  color: #ccc;
}

.optionButtons1:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #227fe9 0, #0f41c9 100%);
}

.optionButtons1:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 0.5vh;
  left: 0.5vh;
  right: 0.5vh;
  top: 0.5vh;
}

.optionButtons1:disabled {
  cursor: default;
  opacity: 0.24;
}

.button-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 27vh;
  gap: -40vh;
}

@media (min-width: 768px) {
  .optionButtons1 {
    padding: 19px 32px;
  }
}

.optionButtons1 {
  transform: scale(0.6);
  height: 18.75vh;
  font-size: 6vh;
}

.option4Button {
  width: 30%;
}

.option5Button {
  width: 30%;
}

.option6Button {
  width: 30%;
}

@media (max-width: 576px) {
  .button-container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 27vh;

    padding: 0px;
  }

  .optionButtons1 {
    margin-right: auto;

    height: 7.75vh;
    width: 17vh;
    font-size: 2vh;
    transform: scale(0.6);
    padding: 5px 10px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .button-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 8vh;
  }

  .optionButtons1 {
    font-size: 5vh;
    transform: scale(0.6);
    height: 9.75vh;
    flex: 1;
  }

  .option4Button,
  .option5Button,
  .option6Button {
    width: 33.33%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .option4Button {
    position: absolute;
    transform: scale(0.4);
    width: 45vh;
    height: 16.25vh;
    left: -7%;
    bottom: 24vh;
  }
  .option5Button {
    position: absolute;
    transform: scale(0.4);
    width: 45vh;
    height: 16.25vh;
    left: 20.5%;
    bottom: 24vh;
  }
  .option6Button {
    position: absolute;
    transform: scale(0.4);
    width: 45vh;
    height: 16.25vh;
    left: 49%;
    bottom: 24vh;
  }
}

@media (min-width: 768px) {
  .optionButtons1 {
    padding: 2.4vh 4vh;
  }
}

.optionButtons1:before,
.optionButtons1:after {
  border-radius: 10vh;
}

.checkBoxes {
  position: absolute;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  justify-content: center;
  align-items: center;
  bottom: 49vh;
}

@media (max-width: 576px) {
  .checkBoxes {
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    justify-content: center;
    align-items: center;
    bottom: 49vh;
  }
}

.checkbox-wrapper-42 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-42 label {
  display: inline-block;
}

.checkbox-wrapper-42 .cbx {
  position: relative;
  top: 1px;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid #c8ccd4;
  border-radius: 0.3em;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}

.checkbox-wrapper-42 .cbx:after {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0.5em;
  width: 0.5em;
  height: 1.1em;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.checkbox-wrapper-42 .lbl {
  margin-left: 0.5em;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.5em;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
  border-color: transparent;
  background: #6871f1;
  animation: jelly-42 0.6s ease;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.checkbox-wrapper-42 .cntr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

@keyframes jelly-42 {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
.selectTensesTitle {
  position: absolute;
  top: 8vh;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 8vh;
}

@media (max-width: 576px) {
  .selectTensesTitle {
    position: absolute;
    width: 75%;
    top: 4vh;
    left: 50%;

    transform: translateX(-50%);
    font-weight: bold;
    font-size: 2.8vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .selectTensesTitle {
    position: absolute;
    width: 70%;
    top: 4vh;
    left: 50%;

    transform: translateX(-50%);
    font-weight: bold;
    font-size: 4.4vh;
  }
}

.selectTensesDescription {
  position: absolute;
  font-size: 5vh;
  left: 50%;
  transform: translateX(-50%);
  top: 27vh;
}

@media (max-width: 576px) {
  .selectTensesDescription {
    position: absolute;
    font-size: 2.5vh;
    width: 77.5%;
    left: 50%;
    transform: translateX(-50%);
    top: 8.4vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .selectTensesDescription {
    position: absolute;
    font-size: 3.8vh;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
  }
}

.startGame2Button {
  position: absolute;
  transform: scale(2.7);
  height: 7.2vh;
  width: 31.2vh;
  font-size: 5vh;
  top: 61vh;
  left: 40%;
  transform: translateX(-50%);
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #004dff;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.startGame2Button:hover,
.startGame2Button:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.startGame2Button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.startGame2Button {
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

@media (max-width: 576px) {
  .startGame2Button {
    transform: scale(2.7);
    height: 7.2vh;
    width: 31.2vh;
    font-size: 5vh;
    top: 61vh;
    left: 48%;
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .errorTense {
    position: absolute;
    width: 40vh;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vh;
  }
}

@media (max-width: 390px) {
  .errorTense {
    position: absolute;
    width: 40vh;
    top: 62vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .errorTense {
    position: absolute;
    width: 60vh;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .errorTense {
    position: absolute;
    width: 60vh;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
  }
}

@media (max-width: 389px) {
  .checkBoxes {
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    justify-content: center;
    align-items: center;
    bottom: 36vh;
  }

  .selectTensesTitle {
    position: absolute;
    width: 80%;
    top: 4vh;
    left: 50%;

    transform: translateX(-50%);
    font-weight: bold;
    font-size: 3vh;
  }

  .startGame2Button {
    transform: scale(2.7);
    height: 7.2vh;
    width: 31.2vh;
    font-size: 5vh;
    top: 75vh;
    left: 48%;
    transform: translateX(-50%);
  }

  .selectTensesDescription {
    position: absolute;
    font-size: 2.4vh;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
  }

  .errorTense {
    position: absolute;
    width: 40vh;
    bottom: -27vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vh;
  }
}

.errorTense {
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vh;
}

.buttonSpecialContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7.5vh;

  height: 6vh;
  width: 155vh;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 80vh;
}

@media screen and (width: 360px) and (height: 640px) {
  .checkBoxes {
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 60%;
    justify-content: center;
    align-items: center;
    bottom: 36vh;
  }

  .selectTensesTitle {
    position: absolute;
    width: 65%;
    top: 4vh;
    left: 50%;

    transform: translateX(-50%);
    font-weight: bold;
    font-size: 3vh;
  }

  .startGame2Button {
    transform: scale(2.7);
    height: 7.2vh;
    width: 31.2vh;
    font-size: 5vh;
    top: 75vh;
    left: 48%;
    transform: translateX(-50%);
  }

  .selectTensesDescription {
    position: absolute;
    font-size: 3.2vh;
    width: 81%;
    left: 50%;
    transform: translateX(-50%);
    top: 7.8vh;
  }

  .errorTense {
    position: absolute;
    width: 45vh;
    bottom: -27vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .startGame2Button {
    transform: scale(2.7);
    height: 7.2vh;
    width: 31.2vh;
    font-size: 5vh;
    top: 61vh;
    left: 48%;
    transform: translateX(-50%);
  }
}

.displayVerb {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%, -50%);
  font-size: 22vh;
}
.displayTense {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  font-size: 16.5vh;
}
.inputVerbForm {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32vh;
}

.inputPerson {
  position: fixed;
  left: -30%;
  font-size: 5.5vh;
  width: 30vh;
  height: 50vh;
  top: -1vh;
}

.verbButton {
  top: 45px;
  transform: scale(1);
  font-size: 50px;
  width: 150px;
  height: 50px;
  background: #461b79;
  border: 1px solid #030303;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #020202;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
buttonSubmit .verbButton:hover,
.verbButton:active {
  background-color: #4a0f7a;
  background-color: initial;
  background-position: 0 0;
  color: #000000;
}

.verbButton:active {
  opacity: 0.5;
}

#userAnswer {
  font-size: 30px;
  width: 250px;
  height: 40px;
}
.buttonSpecial {
  transform: scale(0.9);
  width: 4vh;
  align-items: center;
  background-color: #461b79;
  background-position: 0 0;
  border: 1px solid #601ab1;
  border-radius: 11px;
  box-sizing: border-box;
  color: #0e0e0e;
  cursor: pointer;
  display: flex;
  font-size: 2.4vh;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
    none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.buttonSpecial:active,
.buttonSpecial:hover,
.buttonSpecial:focus {
  outline: 0;
}

.buttonSpecial:active {
  background-color: #4523da;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #080101;
}

.buttonSpecial:hover {
  background-color: #260a52;
  border-color: #2f0daa;
}

.buttonSpecial:active:hover,
.buttonSpecial:focus:hover,
.button-45:focus {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #000000;
}

.displayPreviousAnswer {
  position: absolute;
  left: 13%;
  top: 10vh;
  transform: translate(-50%, -50%);
  font-size: 6vh;
}

.displayPreviousCorrectAnswer {
  position: absolute;
  left: 87%;
  top: 10vh;
  transform: translate(-50%, -50%);
  font-size: 6vh;
}

@media (max-width: 389px) {
  .displayPreviousAnswer {
    position: absolute;
    left: 13%;
    top: 20vh;
    transform: translate(-50%, -50%);
    font-size: 3vh;
  }

  .displayPreviousCorrectAnswer {
    position: absolute;
    left: 87%;
    top: 20vh;
    transform: translate(-50%, -50%);
    font-size: 3vh;
  }

  .displayVerb {
    position: absolute;
    left: 50%;
    top: 9vh;
    transform: translate(-50%, -50%);
    font-size: 7vh;
  }
  .displayTense {
    position: absolute;
    left: 50%;
    top: 24vh;
    transform: translate(-50%, -50%);
    font-size: 5vh;
  }
  .inputVerbForm {
    position: fixed;
    left: 63%;
    width: 70%;
    transform: translateX(-50%);

    bottom: 23vh;
  }

  .inputPerson {
    position: fixed;
    left: -35%;
    font-size: 5vh;
    width: 30vh;
    height: 50vh;
    bottom: -43.5vh;
  }

  .verbButton {
    top: 6vh;
    transform: scale(1);
    font-size: 1.6vh;
    left: 30%;
    width: 10vh;
    height: 5vh;
    background: #461b79;

    border-radius: 0.6vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0.1vh 0.2vh 0.4vh;
  }

  #userAnswer {
    font-size: 3vh;
    width: 15vh;
    height: 4vh;
  }

  .buttonSpecialContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;

    height: 14vh;
    width: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45vh;
  }

  .buttonSpecial {
    margin-right: 15px;
    margin-bottom: 15px;

    transform: scale(0.9);
    bottom: -90px;
    align-items: center;
    background-color: #461b79;
    background-position: 0 0;
    border: 1px solid #601ab1;
    border-radius: 11px;
    box-sizing: border-box;
    color: #0e0e0e;
    cursor: pointer;
    display: flex;
    font-size: 2vh;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
      none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }

  .buttonSpecial:active,
  .buttonSpecial:hover,
  .buttonSpecial:focus {
    outline: 0;
  }

  .buttonSpecial:active {
    background-color: #4523da;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #080101;
  }

  .buttonSpecial:hover {
    background-color: #260a52;
    border-color: #2f0daa;
  }

  .buttonSpecial:active:hover,
  .buttonSpecial:focus:hover,
  .button-45:focus {
    background-color: #d33a2c;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #000000;
  }
}

@media (max-width: 576px) and (min-width: 390px) {
  .displayPreviousAnswer {
    position: absolute;
    left: 13%;
    top: 20vh;
    transform: translate(-50%, -50%);
    font-size: 3vh;
  }

  .displayPreviousCorrectAnswer {
    position: absolute;
    left: 87%;
    top: 20vh;
    transform: translate(-50%, -50%);
    font-size: 3vh;
  }

  .displayVerb {
    position: absolute;
    left: 50%;
    top: 9vh;
    transform: translate(-50%, -50%);
    font-size: 7vh;
  }
  .displayTense {
    position: absolute;
    left: 50%;
    top: 24vh;
    transform: translate(-50%, -50%);
    font-size: 5vh;
  }
  .inputVerbForm {
    position: fixed;
    left: 63%;
    width: 70%;
    transform: translateX(-50%);

    bottom: 23vh;
  }

  .inputPerson {
    position: fixed;
    left: -35%;
    font-size: 5vh;
    width: 30vh;
    height: 50vh;
    bottom: -43.5vh;
  }

  .verbButton {
    top: 6vh;
    transform: scale(1);
    font-size: 3vh;
    left: 30%;
    width: 15vh;
    height: 5vh;
    background: #461b79;
    border-radius: 0.6vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0.1vh 0.2vh 0.4vh;
  }

  #userAnswer {
    font-size: 3vh;
    width: 15vh;
    height: 4vh;
  }

  .buttonSpecialContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;

    height: 14vh;
    width: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45vh;
  }

  .buttonSpecial {
    margin-right: 15px;
    margin-bottom: 15px;

    transform: scale(0.9);
    bottom: -90px;
    align-items: center;
    background-color: #461b79;
    background-position: 0 0;
    border: 1px solid #601ab1;
    border-radius: 11px;
    box-sizing: border-box;
    color: #0e0e0e;
    cursor: pointer;
    display: flex;
    font-size: 2vh;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
      none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }

  .buttonSpecial:active,
  .buttonSpecial:hover,
  .buttonSpecial:focus {
    outline: 0;
  }

  .buttonSpecial:active {
    background-color: #4523da;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #080101;
  }

  .buttonSpecial:hover {
    background-color: #260a52;
    border-color: #2f0daa;
  }

  .buttonSpecial:active:hover,
  .buttonSpecial:focus:hover,
  .button-45:focus {
    background-color: #d33a2c;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #000000;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .displayPreviousAnswer {
    position: absolute;
    left: 13%;
    top: 10vh;
    transform: translate(-50%, -50%);
    font-size: 6vh;
  }

  .displayPreviousCorrectAnswer {
    position: absolute;
    left: 87%;
    top: 10vh;
    transform: translate(-50%, -50%);
    font-size: 6vh;
  }

  .displayVerb {
    position: absolute;
    left: 50%;
    top: 3vh;
    transform: translate(-50%, -50%);
    font-size: 12vh;
  }
  .displayTense {
    position: absolute;
    left: 50%;
    top: 18vh;
    transform: translate(-50%, -50%);
    font-size: 8vh;
  }
  .inputVerbForm {
    position: fixed;
    left: 60%;
    width: 65%;
    transform: translateX(-50%);

    bottom: 27vh;
  }

  .inputPerson {
    position: fixed;
    left: -22%;
    font-size: 5vh;
    width: 30vh;
    height: 50vh;
    bottom: -43.5vh;
  }

  .verbButton {
    top: 6vh;
    transform: scale(1);
    font-size: 3vh;
    left: 30%;
    width: 20vh;
    height: 5vh;
    background: #461b79;
    border-radius: 0.6vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0.1vh 0.2vh 0.4vh;
  }

  #userAnswer {
    font-size: 3vh;
    width: 25vh;
    height: 4vh;
  }

  .buttonSpecialContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vh;

    height: 14vh;
    width: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45vh;
  }

  .buttonSpecial {
    margin-right: 15px;
    margin-bottom: 15px;

    transform: scale(0.9);
    bottom: -90px;
    align-items: center;
    background-color: #461b79;
    background-position: 0 0;
    border: 1px solid #601ab1;
    border-radius: 11px;
    box-sizing: border-box;
    color: #0e0e0e;
    cursor: pointer;
    display: flex;
    font-size: 2vh;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
      none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }

  .buttonSpecial:active,
  .buttonSpecial:hover,
  .buttonSpecial:focus {
    outline: 0;
  }

  .buttonSpecial:active {
    background-color: #4523da;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #080101;
  }

  .buttonSpecial:hover {
    background-color: #260a52;
    border-color: #2f0daa;
  }

  .buttonSpecial:active:hover,
  .buttonSpecial:focus:hover,
  .button-45:focus {
    background-color: #d33a2c;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #000000;
  }
}

@media screen and (min-width: 2560px) and (min-height: 1440px) {
  .buttonSpecial {
    font-size: 3vh;
  }

  .displayTense {
    position: absolute;
    left: 50%;
    top: 22vh;
    transform: translate(-50%, -50%);
    font-size: 16.5vh;
  }

  .inputVerbForm {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 32vh;
  }

  .inputPerson {
    position: fixed;
    left: -42%;
    font-size: 5.5vh;
    width: 30vh;
    height: 50vh;
    top: -1vh;
  }
}

@media only screen and (width: 360px) and (height: 640px) {
  .buttonSpecialContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5vh;
    border: 1px solid black;
    height: 28vh;
    width: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50vh;
  }
  .buttonSpecial {
    margin-right: 5px;
    margin-bottom: 5px;
    transform: scale(0.8);
    display: flex;
    font-size: 2.7vh;
    text-align: center;
  }
}

.leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 285px;
  height: 308px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
}

.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}

.leaderboard ol {
  counter-reset: leaderboard;
}

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}

.leaderboard ol li mark::before,
.leaderboard ol li mark::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

.leaderboard ol li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.leaderboard ol li:nth-child(1) {
  background: #fa6855;
}

.leaderboard ol li:nth-child(1)::after {
  background: #fa6855;
}

.leaderboard ol li:nth-child(2) {
  background: #e0574f;
}

.leaderboard ol li:nth-child(2)::after {
  background: #e0574f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}

.leaderboard ol li:nth-child(2) mark::before,
.leaderboard ol li:nth-child(2) mark::after {
  border-top: 6px solid #ba4741;
  bottom: -7px;
}

.leaderboard ol li:nth-child(3) {
  background: #d7514d;
}

.leaderboard ol li:nth-child(3)::after {
  background: #d7514d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}

.leaderboard ol li:nth-child(3) mark::before,
.leaderboard ol li:nth-child(3) mark::after {
  border-top: 2px solid #b0433f;
  bottom: -3px;
}

.leaderboard ol li:nth-child(4) {
  background: #cd4b4b;
}

.leaderboard ol li:nth-child(4)::after {
  background: #cd4b4b;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(4) mark::before,
.leaderboard ol li:nth-child(4) mark::after {
  top: -7px;
  bottom: auto;
  border-top: none;
  border-bottom: 6px solid #a63d3d;
}

.leaderboard ol li:nth-child(5) {
  background: #c24448;
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(5)::after {
  background: #c24448;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(5) mark::before,
.leaderboard ol li:nth-child(5) mark::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #993639;
}

.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}

.leaderboard ol li:hover::after {
  opacity: 1;
  transform: scaleX(1.06) scaleY(1.03);
}

.leaderboard ol li:hover mark::before,
.leaderboard ol li:hover mark::after {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}

.the-most img {
  max-width: 100%;
}

:root {
  --btn-size: 100px;
  --btn-arrowsize: calc(var(--btn-size) / 4);
  --btn-color: hotpink;
  --btn-bg: #111;
  --btn-border: hotpink;
  --btn-hover-color: #111;
  --btn-bg-hover: white;
  --btn-hover-border-color: white;
}

.arrowbtn {
  position: absolute;
  width: var(--btn-size);
  height: var(--btn-size);
  background: var(--btn-bg);
  border: 2px solid var(--btn-border);
  border-radius: var(--btn-size);
  color: var(--btn-color);
  cursor: pointer;
  line-height: var(--btn-size);
  transition: all 0.25s ease-in-out;
}

.arrowbtn:hover {
  background: var(--btn-bg-hover);
  border-color: var(--btn-hover-border-color);
  color: var(--btn-hover-color);
}

.arrowbtn:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: var(--btn-arrowsize);
  height: var(--btn-arrowsize);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrowbtn-left {
  top: 35%;
  left: -12vh;
  margin-top: -var(--btn-size / 2);
}

.arrowbtn-left:after {
  margin-left: calc(-1 * var(--btn-arrowsize) / 2);
  margin-top: calc(-1 * var(--btn-arrowsize) / 2);
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotateZ(-45deg);
}

.arrowbtn-right {
  top: 35%;
  right: -12vh;
  margin-top: -var(--btn-size / 2);
}

.arrowbtn-right:after {
  margin-left: calc(-1 * var(--btn-arrowsize) / 2);
  margin-top: calc(-1 * var(--btn-arrowsize) / 2);
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotateZ(315deg);
}

@media (min-width: 1200px) {
  .arrowbtn-left {
    top: 35%;
    left: -18vh;
    margin-top: -var(--btn-size / 2);
  }

  .arrowbtn-right {
    top: 35%;
    right: -18vh;
    margin-top: -var(--btn-size / 2);
  }
}

@media (max-width: 576px) {
  .leaderboard {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 162.5px;
    height: 190px;
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  }

  .leaderboard h1 {
    font-size: 12px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
  }

  .leaderboard h1 svg {
    width: 25px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-right: 6px;
    vertical-align: baseline;
  }

  .leaderboard ol {
    counter-reset: leaderboard;
  }

  .leaderboard ol li {
    position: relative;
    z-index: 1;
    font-size: 12px;
    counter-increment: leaderboard;
    padding: 18px 10px 18px 50px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }

  .leaderboard ol li::before {
    content: counter(leaderboard);
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #c24448;
    background: #fff;
    border-radius: 20px;
    text-align: center;
  }

  .leaderboard ol li mark {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px 10px 18px 50px;
    margin: 0;
    background: none;
    color: #fff;
  }

  .leaderboard ol li mark::before,
  .leaderboard ol li mark::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -11px;
    left: -9px;
    border-top: 10px solid #c24448;
    border-left: 10px solid transparent;
    transition: all 0.1s ease-in-out;
    opacity: 0;
  }

  .leaderboard ol li mark::after {
    left: auto;
    right: -9px;
    border-left: none;
    border-right: 10px solid transparent;
  }

  .leaderboard ol li small {
    position: relative;
    z-index: 2;
    display: block;
    text-align: right;
  }

  .leaderboard ol li::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fa6855;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .arrowbtn {
    --btn-size: 10vh;
  }
}

.display1 {
  display: none;
}
